<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dice Roller</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/signup.css" rel="stylesheet">
    <link href="../static/app.css" rel="stylesheet">
    <script type="text/javascript" src="../static/app.js"></script>
</head>

<body>

<div class="container ">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right lazy">
                <li role="presentation" class="active" ><a href="main">Home</a></li>
                <li role="presentation" id="nav-sign-in"><a href="#">Sign In</a></li>
                <li role="presentation" id="nav-sign-up"><a href="showSignUp">Sign Up</a></li>
                <li role="presentation" id="nav-sign-out"><a href="#">Sign Out</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Dice roller app</h3>
    </div>

    <div class="jumbotron">
        <h1>Register dice roller account, so you can save your dice rolling history</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Register account</a>
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Roll a dice</h4>
            <p>Just roll dice online.</p>

            <h4>Check your history</h4>
            <p>Store your dice rolling history in cloud.</p>

            <h4>Roll dice with friends</h4>
            <p>Roll a dice and share your role result with friends.</p>
        </div>

        <div class="col-lg-6">
            <h4>Dice rolling room</h4>
            <p>Roll dice so everyone in room can see what have you rolled.</p>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; Mantygrock 2018</p>
    </footer>

</div>
</body>

</html>