<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask Bucket List App</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="../static/app.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script type="text/javascript" src="../static/app.js"></script>
</head>

<body>

<div class="container ">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right lazy">
                <li role="presentation" ><a href="main">Home</a></li>
                <li role="presentation" id="nav-sign-in"><a href="#">Sign In</a></li>
                <li role="presentation" class="active" id="nav-sign-up"><a href="#">Sign Up</a></li>
                <li role="presentation" id="nav-sign-out"><a href="showSignUp">Sign Out</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Dice Roller</h3>
    </div>

    <div class="jumbotron">
        <h1>Sign up to dice roller</h1>
        <form class="form-signin">
            <label for="inputName" class="sr-only">Name</label>
            <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        </form>
    </div>

    <footer class="footer">
        <p>&copy; Mantygrock 2018</p>
    </footer>

</div>
</body>
</html>